$white: #FFFFFF;
$black: #000000;
$gray: #d4d4d4;
$overlay-color: #2c2d33;

$red: #ee5f5b;
$blue: #19B5FE;
$yellow: #f89406;
$aqua: #7FDBFF;
$green: green;

$base-font: "weblysleek_uilight", sans-serif;
$logo-font: "bombardierregular", sans-serif;
$code-font: "LiberationMonoRegular",monospace;
$logo-font: "bombardierregular", sans-serif;

// break point
$small: 750px;

// Identity Colorpallette
$lpli-1: #434341;		// logo grey
$lpli-2: #A2A2A1;		// lighter grey
$lpli-3: #EFC94C;		// yellow
$lpli-4: #E27A3F;		// orange
$lpli-5: #DF4949;		// red
$lpli-6: #B82630;     // logo red

$post-date: #B82630;
$link-style: #B82630;

$poop:#000